@import "colors";

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  background-color: $lightgrey;
}
.container {
  padding: 10px;
position: relative;
  @media (min-width: 700px) {
    max-width: 80%;
    margin: auto;
  }
  @media (min-width: 1100px) {
    max-width: 75%;
    margin: auto;
  }

  @media (min-width: 1200px) {
    max-width: 1100px;
    margin: auto;
  }

  @media  (min-width: 1905px) {
    max-width: 1100px;
    margin: auto;
  }
}

.panel {
  background-color: #fff;
  border: 2px $panel-borders solid;
  border-radius: 5px;
  padding: 30px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .goal-layout {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 4fr 8fr;
  }
}
