@import "structure";
@import "colors";
@import "buttons";
@import "forms";
@import "type";
@import "tables";
@import "mixins";
.dg-container {
  .dg-btn--cancel {
    color: #fff;
    background-color: #e62626;
  }

  .dg-btn--ok {
    color: #fff;
    background-color: $primary;
  }

  .dg-btn {
    display: inline-block;
    position: relative;
    min-width: 80px;
    padding: 6px 20px;
    border-radius: 4px;
    outline: 0;
    border: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    font-weight: 700;
  }
}

.standout {
  font-size: 1.2em;
}

.standout-lg {
  color: $primary;
  font-size: 1.7em;
}

.goal-detail {
  div {
    margin-bottom: 10px;
  }
}

.chart-compact {
  margin: 20px 0;
  display: inline-block;
  width: 320px;
  height: 220px;
  background-color: #fff;
  border-color: 1px $lightgrey solid;
  border-radius: 10px;
  padding-left: 5px;
}

.ss-panel {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

// SVG STYLES

.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /*default*/
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}

.smart-button-container {
  width: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
}

.link-text {
  text-decoration: underline;
  cursor: pointer;
}

// Vuetify

.v-toolbar--clipped {
  z-index: 10;
}
.v-navigation-drawer--temporary, .v-navigation-drawer--is-mobile {
  z-index: 11;
}
#__nuxt .v-sheet {
  padding: 20px;
  border-radius: 10px;
}
#__nuxt .v-toolbar__content {
  text-align: center;
}
#__nuxt .v-toolbar__title {
  width: 100%;
  margin: 0;
  position: absolute;
  left: 50px;
  top: 5px;
  img {
    margin-left: -90px;
  }
}

@mixin leftAlignLogo() {
  #__nuxt .v-toolbar__content {
    text-align: left;
  }
  #__nuxt .v-toolbar__title {
    width: auto;
    margin: inherit;
    position: relative;
    left: inherit;
    img {
      margin-left: 0px;
    }
  }
}
@include tabletAndAbove {
  @include leftAlignLogo();
}
